name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4      # تحديث إلى v4

      - uses: actions/setup-java@v4    # تحديث إلى v4
        with:
          distribution: 'zulu'
          java-version: '17'           # استخدام جافا 17 المتوافقة مع التحديثات
          cache: 'gradle'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4  # <--- (تم الإصلاح هنا)
        with:
          name: SmartWalletPro-v2
          path: build/app/outputs/flutter-apk/app-release.apk

