name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
          cache: true

      - name: Get dependencies
        run: flutter pub get

      # هنا الإصلاح: أجبرناه على استخدام اسم يبدأ بحرف بدلاً من رقم
      - name: Create Android Files
        run: flutter create --project-name smart_wallet .

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SmartWalletPro-v2
          path: build/app/outputs/flutter-apk/app-release.apk
